# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Config locale
config.json

# Logs
*.log

# Environments
.venv
env/
venv/
ENV/

# PyInstaller / Build & Dist
build/
dist/
*.spec

search_index.db*
